.main-container--client {
  display: flex;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #dcedc8, #aed581);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 85vh;
  width: 20%;
  margin-right: 20px;

  /* border-right: solid black; */
}

.sidebar-bank-logo {
  margin-bottom: 100px;
}

.name-and-nav-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

.name-username {
  margin-bottom: 50px;
}

.first-last-name {
}

.nav-client {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-client div {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.nav-client__active {
  background: linear-gradient(45deg, #689738, #8bc34a);
}

.logout-container {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: 20px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* DASHBOARD */

.dashboard-container {
  display: flex;
  flex-direction: column;
}

.balance {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.balance__label {
  font-size: 25px;
  font-weight: 500;
}

.balance__date {
}

.balance__value {
  font-size: 40px;
  font-weight: 500;
}

.dashboard-body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 100vh;
}

.movements {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movements__line {
  margin-bottom: 10px;
  border-bottom: solid 1px;
}

.dashboard-transfer-request {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-transfer,
.dashboard-request {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-transfer {
  background: linear-gradient(45deg, #8bc34a, #4caf50);
}

.dashboard-request {
  background: linear-gradient(45deg, #44afff, #1e88e5);
}

.hidden {
  display: none;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* PROFILE */

.profile-container {
  width: 100vh;
}

.profile-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-line {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid;
}
