.main-container--client {
  display: flex;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #dcedc8, #aed581);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 85vh;
  width: 20%;
  margin-right: 20px;

  /* border-right: solid black; */
}

.sidebar-bank-logo {
  margin-bottom: 100px;
}

.name-and-nav-container {
  display: flex;
  flex-direction: column;
}

.name-username {
  margin-bottom: 50px;
}

.first-last-name {
}

.nav-client {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logout-container {
  margin-top: auto;
  margin-bottom: 20px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* DASHBOARD */

.dashboard-container {
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.dashboard-body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.dashboard-history {
}

.dashboard-transfer-request {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-transfer,
.dashboard-request {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-transfer {
  background: linear-gradient(45deg, #8bc34a, #4caf50);
}

.dashboard-request {
  background: linear-gradient(45deg, #44afff, #1e88e5);
}

.hidden {
  display: none;
}
