.main-container {
  height: 100vh;
  padding: 50px;
}

.headbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.homepage-nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

.register-and-login {
  display: flex;
  gap: 20px;
}

.link-special {
  color: #212121 !important;
  background-color: #689738;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  width: auto;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.middle--left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.middle--right {
}

.middle-img {
  height: auto;
  width: 400px;
  border-radius: 10px;
}

.bottom {
  display: flex;
}

.grid-supported-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.grid-supported-services div {
  justify-items: center;
  align-items: center;
}

.grid-supported-services img {
  display: flex;
  height: 20px;
  width: auto;
}

.logo {
  height: auto;
  width: 100px;
  border-radius: 5px;
}

h1 {
  font-size: 30px;
  color: #689738;
}

h2 {
  font-size: 15px;
}
