/* 
PALETTE 

PRIMARY COLOR: #8BC34A
Dark primary color: #689738
Light primary color: #DCEDC8

ACCENT COLOR: #44AFFF

PRIMARY TEXT:  #212121
SECONDARY TEXT: #757575

DIVIDER COLOR: #BDBDBD
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #212121;
}

.main-container {
  height: 100vh;
  padding: 50px 100px;
}

a {
  color: #689738;
  text-decoration: none;
}

a:active {
  color: #689738;
}

a:visited {
  color: #689738;
}
